
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dark-mode {
    background-color: hsl(207, 26%, 17%);
    color: hsl(0, 0%, 100%);
}

.dark-mode .header,
.dark-mode input,
.dark-mode select,
.dark-mode .mode-text,
.dark-mode .grid-block-link {
    background-color: hsl(209, 23%, 22%);
    color: hsl(0, 0%, 100%);
}